/*
  *
  * Blog
  *
  */


.blog {

	.hero {
		background: url('../img/hero-astronaut.jpg') center center scroll;
		background-size: cover;

		.hero-content {
			position: static;
			text-align: left;
			@include transform(none);

			h2, h3 {
				display: inline-block;
			}
		}
	}

	article {

		h1 {
			line-height: 1.2;
			margin-bottom: .8em;
		}

		p {
			
			@media screen and (min-width: $small-screen) {
				font-size: 22px;
			}
		}
	}

	aside {

		
	}

}

