/*
  *
  * Products
  *
  */


.products {

	.hero {
		background: url('../img/hero-ship.jpg') center center scroll;
		background-size: cover;

		.hero-content {
			//position: static;
			//text-align: left;
			//@include transform(none);

			h2, h3 {
				//display: inline-block;
			}
		}
	}
	
	// global single project block
	.project-single {

		&:nth-child(odd) {
			background-color: #efefef;
		}
		
		// "for client" text
		h3 {
			font-size: 1em;
			font-style: italic;
			font-family: $serif-font;
			margin: 0;
		}
		
		// project title text
		h2 {
			font-size: 2em;
			margin-top: 0;
		}
		
		// project description
		p {
			max-width: 22em;
		}

		.button {
			margin-left: 0;
			@extend .orange-button;
		}
	}
	
	

} // end .products