/* Layout */

/*html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}*/

.story {
  width: 100%;
  height: auto;
  padding: 2.75em 0;
  padding: 2.75rem 0;
}

#main {
	padding: 4em 0;

	@media screen and (min-width: $small-screen) {
		padding: 6em 0;
	}
}