/* 
  *
  * Masthead
  *
  */



// contains brand logo and site navigation
.masthead {
	padding: 1em;
	
	// logo container
	h1 {
		margin: 0 0 10px 0;
		display: inline-block;

		@media screen and (min-width: $small-screen) {
			float: left;
		}

		a {
			color: $neutral-color;

			.logo {
				display: block;
				width: 1.5em;

				img {
					display: block;
				}
			}
		}
	}

	.main-menu {
		line-height: 40px;

		@media screen and (min-width: $small-screen) {
			float: right;
			line-height: 70px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;

				a {
					font-size: .8em;
					font-family: $sans-font;
					color: $neutral-color;
					opacity: .8;
					padding: 1em;
					background-position: center center;
					@include transition(.2s all linear);

					&:hover,
					&.active {
						opacity: 1;
						background: url('../img/icon-big-dipper.svg') no-repeat  center bottom;
					}
				}
			}
		}
	}
}


// svg logo
.brand-logo {
	width: 200px;

	&:hover {
		
		.planet {
			-webkit-animation-iteration-count:infinite;
			-webkit-animation-timing-function:linear;
			-webkit-animation-name:orbit;

			-moz-animation-iteration-count:infinite;
			-moz-animation-timing-function:linear;
			-moz-animation-name:orbit;

			-webkit-animation-duration:5s; -moz-animation-duration:5s;

			transform-origin: center center;
		}
	}


}

@-webkit-keyframes orbit { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-webkit-keyframes moon { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }

@-moz-keyframes orbit { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
@-moz-keyframes moon { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
